.reveal {
    opacity: 0;
    transform: translateY(-60px);
    transition:
            opacity 1.25s ease-out,
            transform 1.25s cubic-bezier(0.22, 1, 0.36, 1);
    will-change: transform, opacity;
}

.reveal-active {
    opacity: 1;
    transform: translateY(0);
}

.reveal-delay-1 { 
    transition-delay: 0.25s; 
}
.reveal-delay-2 { 
    transition-delay: 0.5s; 
}
.reveal-delay-3 { 
    transition-delay: 0.75s; 
}
.reveal-delay-4 { 
    transition-delay: 1s; 
}
